@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
@mixin gradient-border($radius: 10px) {
  border: 1px solid transparent;
  border-radius: $radius;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(90deg, #00fff0, #0083fe) border-box;
}
