%reset-marg-pad {
  margin: 0;
  padding: 0;
}
%globale-size {
  height: auto;
  width: 100%;
}
%flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: center space-evenly;
}
%flex-row-around {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: center space-between;
}
%flex-row-start {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: flex-start space-evenly;
}
%flex-row-end {
  display: flex;
  flex-flow: row nowrap;
  place-items: flex-end;
  place-content: center space-evenly;
}
%flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center space-evenly;
}
%flex-column-start {
  display: flex;
  flex-flow: column nowrap;
  place-items: flex-start;
  place-content: center space-evenly;
}
%gradient-primary {
  background: #00fff0;
  background: -webkit-linear-gradient(to right, #0083fe, #00fff0);
  background: linear-gradient(to right, #0083fe, #00fff0);
}
%gradient-secondary {
  background: #EF3B36;
  background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);
  background: linear-gradient(to right, #FFFFFF, #EF3B36);
}
