@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
body, body header, body header .globale__nav--container, body header .globale__nav--container .nave__sub--container, body header .profil__card .profil__sub--container, body header .profil__card .profil__btn--container, body header .small__subtitle--container, body .shield__container, body .shield__container .shield__hero--wrapper, body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content .shield__hero--sectorInfo, body .administration__container .administration__wrapper, body .administration__container .administration__wrapper .administration__sub--container, .chart__container .chart__visitor--container .infos__visitor {
  margin: 0;
  padding: 0;
}

body .shield__container, body .shield__container .shield__hero--wrapper .shield__hero--content, body .home__container .sector__container, body .administration__container .administration__wrapper, .chart__container .chart__visitor--container .infos__visitor--container, .chart__container .chart__visitor--container .infos__visitor, .chart__container .chart__visitor--container .chart__ip--container .visitor__el {
  height: auto;
  width: 100%;
}

body header, body header .globale__nav--container, body header .globale__nav--container .nave__sub--container, body header .profil__card .profil__sub--container, body header .profil__card .profil__btn--container, body header .small__subtitle--container, body header .small__subtitle--container .subtitle__el .flag__container.addview, body .home__container .sector__container, .chart__container, .chart__container .chart__visitor--container .infos__visitor--container {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: center space-evenly;
}

.chart__container .chart__visitor--container .chart__ip--container .visitor__el {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: center space-between;
}

body .administration__container .administration__wrapper, .chart__container .chart__visitor--container .infos__visitor {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: flex-start space-evenly;
}

body .shield__container .shield__hero--wrapper .shield__hero--content {
  display: flex;
  flex-flow: row nowrap;
  place-items: flex-end;
  place-content: center space-evenly;
}

body header .profil__card, body .shield__container .shield__hero--wrapper, body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content, body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form, body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form form, body .home__container .sector__container .sector__choice, body .administration__container, body .administration__container .administration__wrapper .administration__sub--container, body .administration__container .administration__wrapper .administration__sub--container .search__result--container, .chart__container .chart__visitor--container, .chart__container .chart__visitor--container .chart__ip--container {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center space-evenly;
}

body .administration__container .administration__wrapper .administration__sub--container .user__key__el, body .administration__container .administration__wrapper .administration__sub--container .search__result--container .user__list--text, .chart__container .chart__visitor--container .chart__ip--container .visitor__el {
  background: #00fff0;
  background: -webkit-linear-gradient(to right, #0083fe, #00fff0);
  background: linear-gradient(to right, #0083fe, #00fff0);
}

@keyframes glitch-anim-flash {
  0% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.2;
  }
  35%, 100% {
    opacity: 0;
  }
}
.chart__container {
  position: relative;
  height: 25vh;
  width: 100%;
  z-index: 99;
}
.chart__container .chart__visitor--container {
  height: 25vh;
  width: 25%;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 3px;
}
.chart__container .chart__visitor--container .infos__visitor--container .visitor__title {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
}
.chart__container .chart__visitor--container .infos__visitor--container .clear__btn {
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #00fff0, #0083fe) border-box;
  font-size: 0.8rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  background-color: #000;
  color: #fff;
}
.chart__container .chart__visitor--container .infos__visitor--container .clear__btn:hover {
  cursor: pointer;
}
.chart__container .chart__visitor--container .infos__visitor {
  z-index: 99;
}
.chart__container .chart__visitor--container .infos__visitor .infos__visitor--detail {
  list-style-type: none;
  color: #fff;
  width: 100%;
  font-size: 0.6rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  border: 1px solid #444;
}
.chart__container .chart__visitor--container .chart__ip--container {
  height: auto;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  overflow-y: scroll;
}
.chart__container .chart__visitor--container .chart__ip--container .visitor__el {
  color: transparent;
  background-clip: text;
  list-style-type: none;
}
.chart__container .chart__visitor--container .chart__ip--container .visitor__el .visitor__sub--el {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 0.8rem;
  line-height: 35px;
  text-align: center;
  word-spacing: 5px;
}
.chart__container .chart__visitor--container .chart__ip--container .ban__btn > a {
  margin: 10px;
  text-decoration: none;
  color: #000;
  background-color: red;
  border-radius: 5px;
  font-size: 0.6rem;
  padding: 5px;
  font-family: "Zalando Sans Expanded", sans-serif;
}
.chart__container .chart__visitor--container .chart__ip--container .ban__btn > a:hover {
  box-shadow: 0px 0px 5px 3px red;
}
.chart__container .chart__sub--container {
  height: 25vh;
  width: 70%;
  overflow: hidden;
}
.chart__container .chart__sub--container #myChart {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background: #000 url("../images/eyesOFR.png") no-repeat 99% 5%;
  background-size: 9%;
  border: 1px solid #fff;
  border-radius: 10px;
}

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: #000;
}
body .shield__vid {
  height: auto;
  width: 100%;
  margin-top: 0;
  z-index: 0;
}
body header {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  border: 1px solid #444;
}
body header .primary__title {
  margin-left: 0;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  z-index: 99;
  position: relative;
  line-height: 70px;
}
body header .globale__nav--container {
  height: auto;
  width: 70%;
  overflow: hidden;
}
body header .globale__nav--container .nave__sub--container {
  height: auto;
  width: 100%;
}
body header .globale__nav--container .nave__sub--container .nav__el {
  height: auto;
  width: auto;
  list-style-type: none;
}
body header .globale__nav--container .nave__sub--container .nav__el a {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
body header .profil__card {
  height: auto;
  width: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 3px;
  margin: auto;
}
body header .profil__card .profil__sub--container {
  height: auto;
  width: auto;
  overflow: hidden;
}
body header .profil__card .profil__sub--container .profil__stickers {
  height: auto;
  width: auto;
  background-color: greenyellow;
  border-radius: 5px;
  box-shadow: 0px 0px 8px greenyellow;
  color: #000;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 10px;
  padding: 3px;
  letter-spacing: 2px;
}
body header .profil__card .profil__sub--container .profil__name {
  color: #fff;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px #000;
}
body header .profil__card .profil__separate {
  margin: 0;
  height: 2px;
  width: 50%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #000;
}
body header .profil__card .profil__btn--container .profil__btn {
  margin: 8px;
  color: #fff;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px #000;
}
body header .profil__card .profil__btn--container .profil__btn:hover {
  text-decoration: underline;
}
body header .small__subtitle--container {
  height: auto;
  width: 80%;
}
body header .small__subtitle--container .subtitle__el {
  padding: 3px;
  height: auto;
  width: 25%;
  list-style-type: none;
  color: #899;
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px #000;
  text-align: center;
  z-index: 99;
}
body header .small__subtitle--container .subtitle__el .flag__arrow {
  font-size: 2rem;
  color: #fff;
  z-index: 99;
}
body header .small__subtitle--container .subtitle__el .flag__arrow:hover {
  cursor: pointer;
  color: #899;
  text-shadow: 0px 0px 5px #fff;
}
body header .small__subtitle--container .subtitle__el .flag__container {
  display: none;
}
body header .small__subtitle--container .subtitle__el .flag__container .flag {
  height: 30px;
  width: auto;
  filter: contrast(100%);
}
body header .small__subtitle--container .subtitle__el .flag__container .flag:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #fff);
}
body header .small__subtitle--container .subtitle__el .flag__container.addview {
  position: absolute;
  flex-shrink: 0;
  height: auto;
  width: 8vw;
}
body header .small__subtitle--container .subtitle__el .logo__data {
  margin: 0;
  position: relative;
  height: 6vh;
  width: auto;
}
body header .small__subtitle--container .subtitle__el #mouse_data {
  top: 28%;
  left: 86%;
  position: absolute;
  width: 6ch;
}
body .shield__container {
  overflow: hidden;
}
body .shield__container .shield__hero--wrapper {
  height: 99vh;
  width: 100%;
  top: 0;
  position: absolute;
}
body .shield__container .shield__hero--wrapper .hero__img--container {
  display: block;
  height: 80vh;
  width: 100%;
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
  text-align: left;
}
body .shield__container .shield__hero--wrapper .hero__img--container .shield__effect--A {
  position: absolute;
  top: 149px;
  left: 0;
  height: 60vh;
  width: auto;
  mix-blend-mode: overlay;
  filter: contrast(140%);
  -webkit-mask-image: radial-gradient(circle, black 15%, transparent 65%);
  mask-image: radial-gradient(circle, black 15%, transparent 65%);
  z-index: 0;
}
body .shield__container .shield__hero--wrapper .hero__img--container .shield__effect--C {
  position: absolute;
  top: 50px;
  left: 20vw;
  height: 70vh;
  width: auto;
  mix-blend-mode: screen;
  filter: contrast(140%);
  -webkit-mask-image: radial-gradient(circle, black 15%, transparent 65%);
  mask-image: radial-gradient(circle, black 15%, transparent 65%);
  z-index: 0;
  animation: glitch-anim-flash 6s infinite linear;
}
body .shield__container .shield__hero--wrapper .hero__img--container .shield__effect--B {
  position: absolute;
  top: 80px;
  left: 55%;
  height: 80vh;
  width: auto;
  mix-blend-mode: screen;
  filter: contrast(140%);
  -webkit-mask-image: radial-gradient(circle, black 15%, transparent 65%);
  mask-image: radial-gradient(circle, black 15%, transparent 65%);
  animation: glitch-anim-flash 6s infinite linear 1.5s;
}
body .shield__container .shield__hero--wrapper .shield__hero--content {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  z-index: 99;
  position: absolute;
  bottom: 0;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__hero--logo {
  margin: 0;
  padding: 0;
  height: 30vh;
  width: auto;
  filter: drop-shadow(0px 0px 5px #000);
}
body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content {
  padding: 0;
  margin: 0 0 0 0;
  height: auto;
  width: 55%;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content .shield__hero--sectorInfo {
  color: #899;
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px #000;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content .shield__hero--slogan {
  margin: auto;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 7.5rem;
  font-weight: 500;
  width: 17ch;
  line-height: 110px;
  text-align: left;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .hero__sub--content .shield__hero--slogan .shield__hero--signature {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: auto;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form {
  height: auto;
  width: 25%;
  overflow: hidden;
  border: none;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form legend {
  color: #899;
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px #000;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form form {
  height: 25vh;
  width: 100%;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form form input[type=text] {
  height: 4.5vh;
  width: auto;
  background: transparent;
  border: 1px solid #899;
  border-radius: 10px;
  color: red;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px #000;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form form input[type=submit] {
  height: 4vh;
  width: 6vw;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #899;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out;
}
body .shield__container .shield__hero--wrapper .shield__hero--content .shield__form form input[type=submit]:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
body .home__container {
  margin-top: 16vh;
  height: 100vh;
  width: 100%;
  background: #000 url("../images/dogsWhite.png") no-repeat 50% 50%;
  background-size: 25%;
  z-index: 0;
}
body .home__container .users__list--container {
  min-height: 8vh;
  width: 100%;
  border: 1px solid #444;
}
body .home__container .sector__container .sector__choice {
  min-height: 25vh;
  width: 25%;
  border: 1px solid #fff;
  border-radius: 10px;
}
body .home__container .sector__container .sector__choice .sector__choice--title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
}
body .administration__container {
  margin-top: 16vh;
  height: 100vh;
  width: 100%;
  background-color: #444;
  z-index: 99;
}
body .administration__container .administration__wrapper .administration__sub--container {
  min-height: 50vh;
  width: 25%;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
body .administration__container .administration__wrapper .administration__sub--container .administration__sub--title {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}
body .administration__container .administration__wrapper .administration__sub--container .user__key__el {
  font-family: "Google Sans Code", monospace;
  color: transparent;
  background-clip: text;
}
body .administration__container .administration__wrapper .administration__sub--container .generate__btn {
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #00fff0, #0083fe) border-box;
  font-size: 0.8rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  background-color: #000;
  color: #fff;
}
body .administration__container .administration__wrapper .administration__sub--container .generate__btn:hover {
  cursor: pointer;
}
body .administration__container .administration__wrapper .administration__sub--container .search__space {
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #00fff0, #0083fe) border-box;
  height: 4vh;
  width: auto;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Zalando Sans Expanded", sans-serif;
}
body .administration__container .administration__wrapper .administration__sub--container .search__btn {
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #00fff0, #0083fe) border-box;
  font-size: 0.8rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  background-color: #000;
  color: #fff;
}
body .administration__container .administration__wrapper .administration__sub--container .search__btn:hover {
  cursor: pointer;
}
body .administration__container .administration__wrapper .administration__sub--container .search__result--container {
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #00fff0, #0083fe) border-box;
  min-height: 20vh;
  width: 80%;
  overflow-y: scroll;
  padding: 5px;
}
body .administration__container .administration__wrapper .administration__sub--container .search__result--container .user__list--text {
  color: transparent;
  background-clip: text;
  font-size: 1rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  letter-spacing: 2px;
}

/*# sourceMappingURL=main.css.map */
