@use "base/typo";
@use "components/variables";
@use "components/placeholders";
@use "components/mixins";
@use "abstract/keyframes";
@use "abstract/chart";
html {
  overflow-x: hidden;
}
body {
  @extend %reset-marg-pad;
  box-sizing: border-box;
  background-color: #000;
  & .shield__vid {
    height: auto;
    width: 100%;
    margin-top: 0;
    z-index: 0;
  }
  & header {
    @extend %reset-marg-pad, %flex-row-center;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    border: 1px solid #444;
    & .primary__title {
      margin-left: 0;
      color: #fff;
      font-family: variables.$font-alpha;
      font-size: 3.5rem;
      font-weight: 500;
      z-index: 99;
      position: relative;
      line-height: 70px;
    }
    & .globale__nav--container {
      @extend %reset-marg-pad, %flex-row-center;
      height: auto;
      width: 70%;
      overflow: hidden;
      & .nave__sub--container {
        @extend %reset-marg-pad, %flex-row-center;
        height: auto;
        width: 100%;
        & .nav__el {
          height: auto;
          width: auto;
          list-style-type: none;
          & a {
            font-family: variables.$font-beta;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            letter-spacing: 2px;
          }
        }
      }
    }
    & .profil__card {
      @extend %flex-column-center;
      height: auto;
      width: auto;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 3px;
      margin: auto;
      & .profil__sub--container {
        @extend %reset-marg-pad, %flex-row-center;
        height: auto;
        width: auto;
        overflow: hidden;
        & .profil__stickers {
          height: auto;
          width: auto;
          background-color: greenyellow;
          border-radius: 5px;
          box-shadow: 0px 0px 8px greenyellow;
          color: #000;
          font-family: variables.$font-beta;
          font-size: 0.8rem;
          font-weight: 400;
          margin: 10px;
          padding: 3px;
          letter-spacing: 2px;
        }
        & .profil__name {
          color: #fff;
          font-family: variables.$font-beta;
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 1px;
          text-shadow: 0px 0px 3px #000;
        }
      }
      & .profil__separate {
        margin: 0;
        height: 2px;
        width: 50%;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 3px #000;
      }
      & .profil__btn--container {
        @extend %reset-marg-pad, %flex-row-center;
        & .profil__btn {
          margin: 8px;
          color: #fff;
          font-family: variables.$font-beta;
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          letter-spacing: 1px;
          text-shadow: 0px 0px 3px #000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .small__subtitle--container {
      @extend %reset-marg-pad, %flex-row-center;
      height: auto;
      width: 80%;
      & .subtitle__el {
        padding: 3px;
        height: auto;
        width: 25%;
        list-style-type: none;
        color: #899;
        font-family: variables.$font-ceta;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-shadow: 0px 0px 3px #000;
        text-align: center;
        z-index: 99;
        & .flag__arrow {
          font-size: 2rem;
          color: #fff;
          z-index: 99;
          &:hover {
            cursor: pointer;
            color: #899;
            text-shadow: 0px 0px 5px #fff;
          }
        }
        & .flag__container {
          display: none;
          & .flag {
            height: 30px;
            width: auto;
            filter: contrast(100%);
            &:hover {
              cursor: pointer;
              filter: drop-shadow(0px 0px 5px #fff);
            }
          }
          &.addview {
            position: absolute;
            @extend %flex-row-center;
            flex-shrink: 0;
            height: auto;
            width: 8vw;
          }
        }
        & .logo__data {
          margin: 0;
          position: relative;
          height: 6vh;
          width: auto;
        }
        & #mouse_data {
          top: 28%;
          left: 86%;
          position: absolute;
          width: 6ch;
        }
      }
    }
  }
  & .shield__container {
    @extend %reset-marg-pad, %globale-size;
    overflow: hidden;
    & .shield__hero--wrapper {
      @extend %reset-marg-pad, %flex-column-center;
      height: 99vh;
      width: 100%;
      top: 0;
      position: absolute;
      & .hero__img--container {
        display: block;
        height: 80vh;
        width: 100%;
        padding: 0;
        margin-top: 0;
        overflow-x: hidden;
        text-align: left;
        & .shield__effect--A {
          position: absolute;
          top: 149px;
          left: 0;
          height: 60vh;
          width: auto;
          mix-blend-mode: overlay;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          z-index: 0;
        }
        & .shield__effect--C {
          position: absolute;
          top: 50px;
          left: 20vw;
          height: 70vh;
          width: auto;
          mix-blend-mode: screen;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          z-index: 0;
          animation: glitch-anim-flash 6s infinite linear;
        }
        & .shield__effect--B {
          position: absolute;
          top: 80px;
          left: 55%;
          height: 80vh;
          width: auto;
          mix-blend-mode: screen;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          animation: glitch-anim-flash 6s infinite linear 1.5s;
        }
      }
      & .shield__hero--content {
        @extend %flex-row-end, %globale-size;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        z-index: 99;
        position: absolute;
        bottom: 0;
        & .shield__hero--logo {
          margin: 0;
          padding: 0;
          height: 30vh;
          width: auto;
          filter: drop-shadow(0px 0px 5px #000);
        }
        & .hero__sub--content {
          @extend %flex-column-center;
          padding: 0;
          margin: 0 0 0 0;
          height: auto;
          width: 55%;
          & .shield__hero--sectorInfo {
            @extend %reset-marg-pad;
            color: #899;
            font-family: variables.$font-ceta;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 2px;
            text-shadow: 0px 0px 3px #000;
          }
          & .shield__hero--slogan {
            margin: auto;
            color: #fff;
            font-family: variables.$font-alpha;
            font-size: 7.5rem;
            font-weight: 500;
            width: 17ch;
            line-height: 110px;
            text-align: left;
            & .shield__hero--signature {
              font-family: variables.$font-beta;
              font-size: 1rem;
              font-weight: 400;
              width: auto;
            }
          }
        }

        & .shield__form {
          @extend %flex-column-center;
          height: auto;
          width: 25%;
          overflow: hidden;
          border: none;
          & legend {
            color: #899;
            font-family: variables.$font-ceta;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            letter-spacing: 2px;
            text-shadow: 0px 0px 3px #000;
          }
          & form {
            @extend %flex-column-center;
            height: 25vh;
            width: 100%;
            & input[type="text"] {
              height: 4.5vh;
              width: auto;
              background: transparent;
              border: 1px solid #899;
              border-radius: 10px;
              color: red;
              font-family: variables.$font-beta;
              font-size: 1.1rem;
              letter-spacing: 2px;
              text-shadow: 0px 0px 3px #000;
            }
            & input[type="submit"] {
              height: 4vh;
              width: 6vw;
              background: transparent;
              border-radius: 5px;
              border: 2px solid #fff;
              color: #899;
              font-size: 1.2rem;
              font-family: variables.$font-alpha;
              letter-spacing: 2px;
              transition: background-color 0.3s ease-in-out;
              &:hover {
                color: #fff;
                background-color: #000;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  & .home__container {
    margin-top: 16vh;
    height: 100vh;
    width: 100%;
    background: #000 url("../images/dogsWhite.png") no-repeat 50% 50%;
    background-size: 25%;
    z-index: 0;
    & .users__list--container {
      min-height: 8vh;
      width: 100%;
      border: 1px solid #444;
    }
    & .sector__container {
      @extend %globale-size, %flex-row-center;
      & .sector__choice {
        @extend %flex-column-center;
        min-height: 25vh;
        width: 25%;
        border: 1px solid #fff;
        border-radius: 10px;
        & .sector__choice--title {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 2px;
          font-family: variables.$font-alpha;
        }
      }
    }
  }
  & .administration__container {
    @extend %flex-column-center;
    margin-top: 16vh;
    height: 100vh;
    width: 100%;
    background-color: #444;
    z-index: 99;
    & .administration__wrapper {
      @extend %globale-size, %flex-row-start, %reset-marg-pad;
      & .administration__sub--container {
        @extend %flex-column-center, %reset-marg-pad;
        min-height: 50vh;
        width: 25%;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        & .administration__sub--title {
          color: #fff;
          font-size: 1.2rem;
          font-family: variables.$font-beta;
          letter-spacing: 2px;
          font-weight: 400;
        }
        & .user__key__el {
          @extend %gradient-primary;
          font-family: variables.$font-ceta;
          color: transparent;
          background-clip: text;
        }
        & .generate__btn {
          @include mixins.gradient-border();
          font-size: 0.8rem;
          font-family: variables.$font-beta;
          background-color: #000;
          color: #fff;
          &:hover {
            cursor: pointer;
          }
        }
        & .search__space {
          @include mixins.gradient-border();
          height: 4vh;
          width: auto;
          color: #fff;
          font-size: 0.8rem;
          font-family: variables.$font-beta;
        }
        & .search__btn {
          margin: 5px;
          @include mixins.gradient-border();
          font-size: 0.8rem;
          font-family: variables.$font-beta;
          background-color: #000;
          color: #fff;
          &:hover {
            cursor: pointer;
          }
        }
        & .search__result--container {
          @extend %flex-column-center;
          @include mixins.gradient-border();
          min-height: 20vh;
          width: 80%;
          overflow-y: scroll;
          padding: 5px;
          & .user__list--text {
            @extend %gradient-primary;
            color: transparent;
            background-clip: text;
            font-size: 1rem;
            font-family: variables.$font-beta;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
