@use "base/typo";
@use "components/variables";
@use "components/placeholders";
@use "components/mixins";
@use "abstract/keyframes";
@use "abstract/chart";
@use "abstract/faceRegister";
@use "abstract/tipsStructure";

html {
  overflow-x: hidden;
}

body {
  @extend %reset-marg-pad;
  box-sizing: border-box;
  background-color: #000;

  & .shield__vid {
    height: auto;
    width: 100%;
    margin-top: 0;
    z-index: 0;
  }

  & .main__header {
    @extend %reset-marg-pad, %flex-row-center;
    height: auto;
    width: 100%;
    top: 0;
    border: 1px solid #444;
    z-index: 99;
    & .primary__title {
      margin: 0;
      color: #fff;
      font-family: variables.$font-alpha;
      font-size: 3.5rem;
      font-weight: 500;
      z-index: 99;
      position: relative;
      line-height: 70px;
    }

    & .globale__nav--container {
      @extend %reset-marg-pad, %flex-row-center;
      height: 15vh;
      width: 70%;
      overflow: hidden;
      background: url("../images/dogsWhite.png") no-repeat 0% 50%;
      background-size: 17%;
      & .nave__sub--container {
        @extend %reset-marg-pad, %flex-row-center;
        height: auto;
        width: 100%;

        & .nav__el {
          height: auto;
          width: auto;
          list-style-type: none;

          & a {
            font-family: variables.$font-beta;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            letter-spacing: 2px;
          }
        }
      }
    }

    & .profil__card {
      @extend %flex-column-center;
      height: auto;
      width: auto;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 3px;
      margin: auto;

      & .profil__sub--container {
        @extend %reset-marg-pad, %flex-row-center;
        height: auto;
        width: auto;
        overflow: hidden;

        & .profil__stickers {
          height: auto;
          width: auto;
          background-color: greenyellow;
          border-radius: 5px;
          box-shadow: 0px 0px 8px greenyellow;
          color: #000;
          font-family: variables.$font-beta;
          font-size: 0.8rem;
          font-weight: 400;
          margin: 10px;
          padding: 3px;
          letter-spacing: 2px;
        }

        & .profil__name {
          color: #fff;
          font-family: variables.$font-beta;
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 1px;
          text-shadow: 0px 0px 3px #000;
        }
      }

      & .profil__separate {
        margin: 0;
        height: 2px;
        width: 50%;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 3px #000;
      }

      & .profil__btn--container {
        @extend %reset-marg-pad, %flex-row-center;

        & .profil__btn {
          margin: 8px;
          color: #fff;
          font-family: variables.$font-beta;
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          letter-spacing: 1px;
          text-shadow: 0px 0px 3px #000;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .small__subtitle--container {
      @extend %reset-marg-pad, %flex-row-center;
      height: auto;
      width: 80%;

      & .subtitle__el {
        padding: 3px;
        height: auto;
        width: 25%;
        list-style-type: none;
        color: #899;
        font-family: variables.$font-ceta;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-shadow: 0px 0px 3px #000;
        text-align: center;
        z-index: 99;

        & .flag__arrow {
          font-size: 2rem;
          color: #fff;
          z-index: 99;

          &:hover {
            cursor: pointer;
            color: #899;
            text-shadow: 0px 0px 5px #fff;
          }
        }

        & .flag__container {
          display: none;

          & .flag {
            height: 30px;
            width: auto;
            filter: contrast(100%);

            &:hover {
              cursor: pointer;
              filter: drop-shadow(0px 0px 5px #fff);
            }
          }

          &.addview {
            position: absolute;
            @extend %flex-row-center;
            flex-shrink: 0;
            height: auto;
            width: 8vw;
          }
        }
        & .supervising__container {
          @extend %flex-row-center;
          height: auto;
          width: auto;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.386);
          border-radius: 10px;
          flex-shrink: 0;
          & .logo__data {
            margin: 0;
            height: 6vh;
            width: auto;
          }
          & #mouse_data {
            margin: 0;
            width: 6ch;
          }
          & .info__click--container {
            @extend %flex-column-center, %reset-marg-pad;
            height: auto;
            width: auto;
            & #mouse_click_data {
              @extend %reset-marg-pad;
              text-align: center;
              width: 20ch;
            }
            & #info_click_data {
              @extend %reset-marg-pad;
              text-align: left;
            }
          }
        }
      }
    }
  }

  & .shield__container {
    @extend %reset-marg-pad, %globale-size;
    overflow: hidden;

    & .shield__hero--wrapper {
      @extend %reset-marg-pad, %flex-column-center;
      height: 100vh;
      width: 100%;
      top: 0;
      position: absolute;
      overflow: hidden;
      & .facial__container {
        @extend %reset-marg-pad, %flex-column-center;
        position: absolute;
        top: 25%;
        left: 40%;
        height: 400px;
        width: 400px;
        border: 1px solid #899;
        z-index: 99;
        & .facial__title {
          margin: 0;
          color: #fff;
          font-family: variables.$font-alpha;
          font-size: 1.2rem;
          font-weight: 500;
          text-align: left;
          line-height: 50px;
          letter-spacing: 2px;
        }
        & .guard__video {
          height: 100%;
          width: 100%;
        }
        & .guard__vid--canva {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 999;
          pointer-events: none;
        }
      }
      & .hero__effect--bg {
        height: auto;
        width: 100%;
        opacity: 0.3;
        mix-blend-mode: screen;
        z-index: 0;
        filter: contrast(140%), grayscale(50%);
      }
      & .hero__img--container {
        display: block;
        height: 80vh;
        width: 100%;
        padding: 0;
        margin-top: 0;
        overflow-x: hidden;
        text-align: left;
        & .shield__effect--A {
          position: absolute;
          top: 70px;
          left: 0;
          height: 60vh;
          width: auto;
          mix-blend-mode: overlay;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          z-index: 0;
        }

        & .shield__effect--C {
          position: absolute;
          top: 250px;
          left: 28vw;
          height: 70vh;
          width: auto;
          mix-blend-mode: screen;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          z-index: 0;
          animation: glitch-anim-flash 6s infinite linear;
        }

        & .shield__effect--B {
          position: absolute;
          top: 80px;
          left: 55%;
          height: 80vh;
          width: auto;
          mix-blend-mode: screen;
          filter: contrast(140%);
          -webkit-mask-image: radial-gradient(
            circle,
            black 15%,
            transparent 65%
          );
          mask-image: radial-gradient(circle, black 15%, transparent 65%);
          animation: glitch-anim-flash 6s infinite linear 1.5s;
        }
      }

      & .shield__hero--content {
        @extend %flex-row-end, %globale-size;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        z-index: 99;
        position: absolute;
        bottom: 0;

        & .shield__hero--logo {
          margin: 0;
          padding: 0;
          height: 30vh;
          width: auto;
          filter: drop-shadow(0px 0px 5px #000);
        }

        & .hero__sub--content {
          @extend %flex-column-center;
          padding: 0;
          margin: 0 0 0 0;
          height: auto;
          width: 55%;

          & .shield__hero--sectorInfo {
            @extend %reset-marg-pad;
            color: #899;
            font-family: variables.$font-ceta;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 2px;
            text-shadow: 0px 0px 3px #000;
          }

          & .shield__hero--slogan {
            margin: 0 0 0 -150px;
            color: #fff;
            font-family: variables.$font-alpha;
            font-size: 7.5rem;
            font-weight: 500;
            width: 17ch;
            line-height: 110px;
            text-align: left;
            & .shield__hero--signature {
              font-family: variables.$font-beta;
              font-size: 1rem;
              font-weight: 400;
              width: auto;
            }
          }
        }

        & .shield__form {
          @extend %flex-column-center;
          height: auto;
          width: 25%;
          overflow: hidden;
          border: none;

          & legend {
            color: #899;
            font-family: variables.$font-ceta;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            letter-spacing: 2px;
            text-shadow: 0px 0px 3px #000;
          }

          & form {
            @extend %flex-column-center;
            height: 25vh;
            width: 100%;

            & input[type="text"] {
              height: 4.5vh;
              width: auto;
              background: transparent;
              border: 1px solid #899;
              border-radius: 10px;
              color: red;
              font-family: variables.$font-beta;
              font-size: 1.1rem;
              letter-spacing: 2px;
              text-shadow: 0px 0px 3px #000;
            }

            & input[type="submit"] {
              height: 4vh;
              width: 6vw;
              background: transparent;
              border-radius: 5px;
              border: 2px solid #fff;
              color: #899;
              font-size: 1.2rem;
              font-family: variables.$font-alpha;
              letter-spacing: 2px;
              transition: background-color 0.3s ease-in-out;
              &:hover {
                color: #fff;
                background-color: #000;
                cursor: pointer;
              }
            }
            & .pin__container {
              margin: 0;
              padding: 5px;
              height: 25vh;
              width: auto;
              display: flex;
              flex-flow: column nowrap;
              align-items: center;
              justify-content: center;
              border: 1px solid #899;
              & .face__register--logo {
                height: 8vh;
                width: auto;
                filter: drop-shadow(0px 0px 15px #fff);
              }
              & .face__register--infos {
                color: #899;
                font-family: variables.$font-ceta;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 2px;
                text-shadow: 0px 0px 3px #000;
                text-align: center;
              }
              & .face__btn {
                font-family: variables.$font-beta;
                font-size: 1rem;
                color: #fff;
                letter-spacing: 1px;
                padding: 8px;
                background-color: #000;
                border-radius: 10px;
                text-decoration: none;
                transition: color 0.5s ease-in-out;
                font-weight: 500;
                &:hover {
                  color: #000;
                  background-color: #fff;
                }
              }
              & .try__counter {
                font-family: variables.$font-beta;
                font-size: 1rem;
                color: #fff;
              }
              & input[type="password"] {
                height: 2vh;
                width: auto;
                background: transparent;
                border: 1px solid #899;
                border-radius: 5px;
                color: red;
                font-family: variables.$font-beta;
                font-size: 1.1rem;
                letter-spacing: 2px;
                text-shadow: 0px 0px 3px #000;
                margin: auto;
              }
              & .pav_num--container {
                height: auto;
                width: 8vw;
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.386);
                border-radius: 10px;
                & .pin_key {
                  margin: 5px;
                  height: 30px;
                  width: 30px;
                  background: transparent;
                  border-radius: 5px;
                  border: 2px solid #fff;
                  color: #899;
                  font-size: 0.8rem;
                  padding: 3px;
                  font-family: variables.$font-alpha;
                  transition: background-color 0.3s ease-in-out;
                  &:hover {
                    color: #fff;
                    background-color: #000;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  & .home__container {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background: url("../images/wallpapper_B.jpg") no-repeat 50% 50%;
    background-size: cover;
    z-index: 0;

    & .users__list--container {
      @extend %flex-row-center;
      min-height: 8vh;
      width: 100%;
      border: 1px solid #444;
      & .users_list--sticker {
        padding: 8px;
        height: auto;
        width: auto;
        background-color: greenyellow;
        border-radius: 5px;
        box-shadow: 0px 0px 8px greenyellow;
        color: #000;
        font-family: variables.$font-beta;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 2px;
        list-style-type: none;
      }
      & .user__card--container {
        @extend %flex-row-center;
        height: 3vh;
        width: auto;
        border: 1px solid #fff;
        border-radius: 10px;
        flex-shrink: 0;
        padding: 8px;

        & .user__light {
          margin: 8px;
          height: 0.6vh;
          width: 0.3vw;
          border-radius: 50%;
          background-color: greenyellow;
          box-shadow: 0px 0px 5px 3px greenyellow;
        }

        & .users__el {
          color: #fff;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 3px;
          font-family: variables.$font-alpha;
          list-style-type: none;
        }
      }
    }

    & .sector__container {
      @extend %globale-size, %flex-column-center, %reset-marg-pad;
      overflow: hidden;

      & .sector__choice {
        @extend %flex-column-center, %reset-marg-pad;
        min-height: 22vh;
        width: 100%;
        backdrop-filter: blur(3px);

        & .sector__choice--title {
          margin: 0;
          color: #fff;
          font-size: 5.5rem;
          font-weight: 300;
          letter-spacing: 1px;
          font-family: variables.$font-point;
          text-shadow: 0px 0px 5px 3px #000;
        }
      }
    }
  }

  & .tools__container {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background: url("../images/wallpapper_B.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    z-index: 0;
    & .threat__wrapper {
      @extend %reset-marg-pad, %flex-row-between;
      height: 15vh;
      width: 100%;
      & .threat__container {
        @extend %flex-row-start;
        margin-top: 0;
        padding: 5px;
        height: auto;
        width: 50%;
        border: 1px solid #444;
        & .threat__el {
          @extend %reset-marg-pad, %flex-row-center;
          height: 8vh;
          width: 17%;
          list-style-type: none;
          font-family: variables.$font-alpha;
          background-color: #000;
          border-radius: 10px;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              @if $i ==1 {
                color: #fff;
              } @else if $i ==2 {
                color: rgb(255, 255, 155);
                & .threat__logo {
                  background-color: rgb(255, 255, 155);
                  box-shadow: 0px 0px 5px 1px rgb(255, 255, 155);
                }
              } @else if $i ==3 {
                color: rgb(255, 183, 48);
                & .threat__logo {
                  background-color: rgb(255, 183, 48);
                  box-shadow: 0px 0px 5px 1px rgb(255, 183, 48);
                }
              } @else if $i ==4 {
                color: rgb(255, 55, 0);
                & .threat__logo {
                  background-color: rgb(255, 55, 0);
                  box-shadow: 0px 0px 5px 1px rgb(255, 55, 0);
                }
              }
            }
          }
          & .threat__info {
            letter-spacing: 1px;
            font-size: 0.8rem;
          }
          & .threat__logo {
            height: 4vh;
            width: auto;
            border-radius: 10px;
            padding: 5px;
          }
        }
      }
      & .tools__intro--txt {
        margin: 0;
        padding: 0px 8px 8px 8px;
        letter-spacing: 1px;
        color: transparent;
        font-size: 7rem;
        font-family: variables.$font-alpha;
        width: 11ch;
        font-weight: 700;
        line-height: 100px;
        text-align: right;
        background: url("../images/skullbg.jpg") no-repeat 50% 50%;
        background-size: cover;
        background-clip: text;
        filter: drop-shadow(0px 0px 1px #fff);
      }
    }
    & .tools__wrapper {
      @extend %globale-size, %flex-row-start-wrap;
      margin-top: 80px;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1px solid #444;
      & .tools__el {
        @extend %flex-column-center;
        margin: 8px;
        padding: 0;
        height: 45vh;
        width: 40%;
        background: url("../images/skullbg.jpg") no-repeat 50% 50%;
        background-size: cover;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #444;
        & .tools__el--header {
          @extend %globale-size, %flex-row-start;
          padding: 8px;
          margin: 0;
          & .tools__el--title-ctnr {
            @extend %globale-size, %reset-marg-pad;
            & .tools__title {
              margin: 0;
              padding: 0;
              font-size: 2.4rem;
              color: #fff;
              font-family: variables.$font-alpha;
              letter-spacing: 4px;
              text-shadow: 0px 0px 5px #000;
              line-height: 35px;
              width: 100%;
              text-align: center;
            }
          }
          & .tools__icone--container {
            @extend %globale-size, %flex-row-center, %reset-marg-pad;
            & .tools__icone--el {
              text-align: center;
              height: auto;
              width: auto;
              margin: 0 0 0 0;
              padding: 2px;
              list-style-type: none;
              color: #fff;
              font-family: variables.$font-alpha;
              letter-spacing: 1px;
              background-color: rgba(0, 0, 0, 0.858);
              border-radius: 5px;
              & .threat__majoris--tools {
                padding: 5px;
                height: 5vh;
                width: auto;
                background-color: rgb(255, 183, 48);
                box-shadow: 0px 0px 5px 1px rgb(255, 183, 48);
                border-radius: 10px;
              }
              & .threat__terminus--tools {
                padding: 5px;
                height: 5vh;
                width: auto;
                background-color: rgb(255, 55, 0);
                box-shadow: 0px 0px 5px 1px rgb(255, 55, 0);
                border-radius: 10px;
              }
            }
          }
        }
        & .tools__img--container {
          @extend %globale-size, %flex-row-center, %reset-marg-pad;
          & .tools__img--wrapper {
            @extend %reset-marg-pad, %flex-row-center;
            height: auto;
            width: 100%;
            padding: 15px;
            & .tools__img--el {
              margin: 0;
              max-height: 32vh;
              width: auto;
              border-radius: 10px;
              box-shadow: 0px 0px 18px 15px#000;
            }
          }
          & .manufacturing__container--tools {
            @extend %globale-size, %flex-column-center, %reset-marg-pad;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.858);
            border-radius: 10px;
            & .tools__making--title {
              @extend %reset-marg-pad;
              font-weight: 400;
              font-size: 1rem;
              letter-spacing: 1px;
              color: #fff;
              font-family: variables.$font-ceta;
              text-align: center;
            }
            & .manufacturing__sub--container {
              @extend %globale-size, %flex-row-center, %reset-marg-pad;
              & .tools__making--language {
                height: 5vh;
                width: auto;
              }
            }
            & .tools__separate {
              margin: 10px 0 10px 0;
              height: 3px;
              width: 80%;
              background-color: #444;
              border-radius: 50px;
              border: none;
            }
            & .tools__foot {
              margin: 0;
              padding-right: 5px;
              height: auto;
              width: 100%;
              & .tools__link {
                @extend %reset-marg-pad, %flex-row-center;
                font-weight: 200;
                font-size: 1.4rem;
                letter-spacing: 1px;
                color: #fff;
                font-family: variables.$font-point;
                text-decoration: none;
                border-radius: 10px;
                transition: color 0.3s ease;
                text-align: center;
                &:hover {
                  font-weight: 500;
                  color: #000;
                  text-shadow: 0px 0px 4px #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  & .tips__container {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background: url("../images/wallpapper_B.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    z-index: 0;

    & .tips__sub--container {
      & .tips__el--link {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: variables.$font-point;
        text-shadow: 0px 0px 4px #000;
        text-decoration: none;
        transition: color 0.3s ease-in-out, font-weight 0.4s ease-in-out;
        &:hover {
          font-weight: 500;
          color: #000;
          text-shadow: 0px 0px 4px #fff;
        }
      }

      & .tips__el {
        @extend %flex-column-center;
        margin: 0;
        height: 0;
        width: 100%;
        border: none;
        backdrop-filter: blur(5px);
        overflow: hidden;
        transition: 0.4s ease-in-out;

        & .tips__el--head {
          @extend %globale-size, %flex-column-center, %reset-marg-pad;
          border: 1px solid #444;

          & .tips__el--title-container {
            @extend %globale-size, %reset-marg-pad;
            text-align: left;

            & .tips__title {
              font-family: variables.$font-beta;
              color: #fff;
              font-size: 1.2rem;
              letter-spacing: 2px;
            }
          }
        }
        & .tips__content {
          font-family: variables.$font-beta;
          color: #fff;
          font-size: 1.2rem;
          letter-spacing: 2px;
        }
        & .tips__img--container {
          @extend %globale-size, %reset-marg-pad, %flex-row-around;
          & .tips__link--container {
            @extend %globale-size, %reset-marg-pad, %flex-column-center;
            overflow: hidden;
            transition: box-shadow 0.5s ease-out;
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                @if $i ==1 {
                  background: url("../images/articleIMG/jsPapper.jpg")
                    no-repeat
                    50%
                    50%;
                  background-size: cover;
                } @else if $i ==2 {
                  background: url("../images/articleIMG/phpPapper.jpg")
                    no-repeat
                    50%
                    50%;
                  background-size: cover;
                } @else if $i ==3 {
                  background: url("../images/articleIMG/pythonPapper.jpg")
                    no-repeat
                    50%
                    50%;
                  background-size: cover;
                } @else if $i ==4 {
                  background: url("../images/articleIMG/rustPapper.jpg")
                    no-repeat
                    50%
                    50%;
                  background-size: cover;
                }
              }
            }
            & .tips__link--title {
              font-size: 8rem;
              color: #fff;
              font-family: variables.$font-alpha;
              font-weight: 400;
              mix-blend-mode: overlay;
              opacity: 0;
              transition: opacity 0.3s ease;
            }
            & .tips__link {
              font-size: 3.5rem;
              color: #fff;
              font-family: variables.$font-ceta;
              font-weight: 400;
              transition: transform 0.5s ease, color 0.3s ease-in-out;
              transform-origin: bottom;
              opacity: 0;
              text-decoration: none;
              line-height: 0;
            }
            &:hover {
              z-index: 99;
              box-shadow: 0px 0px 5px #fff;
              & .tips__link--title {
                opacity: 1;
              }
              & .tips__link {
                opacity: 1;
                transform: translateY(-50px);
                &:hover {
                  color: #000;
                  text-shadow: 0px 0px 5px #fff;
                }
              }
            }
          }
        }

        &.viewTipsEl {
          height: 50vh;
          padding: 5px;
          border: 1px solid #444;
        }

        & .tips__el--foot {
          @extend %globale-size, %reset-marg-pad;

          & .tips__foot--txt {
            font-family: variables.$font-beta;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 2px;
            text-align: center;
          }
        }
      }
    }
  }

  & .administration__container {
    @extend %flex-column-center;
    margin-top: 16vh;
    height: 100vh;
    width: 100%;
    background: url("../images/wallpapper_A.jpg") no-repeat 50% 50%;
    background-size: contain;
    z-index: 99;

    & .administration__wrapper {
      @extend %globale-size, %flex-row-start, %reset-marg-pad;

      & .administration__sub--container {
        @extend %flex-column-center, %reset-marg-pad;
        min-height: 50vh;
        width: 25%;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;

        & .administration__sub--title {
          color: #fff;
          font-size: 1.2rem;
          font-family: variables.$font-beta;
          letter-spacing: 2px;
          font-weight: 400;
        }

        & .key__container {
          @extend %globale-size, %flex-column-center, %reset-marg-pad;
          border: 1px solid #444;

          & .user__key__el {
            text-align: center;
            @extend %gradient-primary;
            font-family: variables.$font-ceta;
            color: transparent;
            background-clip: text;
            width: 45ch;
          }

          & .user__key--separate {
            height: 2px;
            width: 50%;
            border: none;
            background-color: #444;
            border-radius: 10px;
          }
        }

        & .generate__btn {
          @include mixins.gradient-border();
          font-size: 0.8rem;
          font-family: variables.$font-beta;
          background-color: #000;
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }

        & .decrypt__btn {
          @include mixins.gradient-border();
          font-size: 0.8rem;
          font-family: variables.$font-beta;
          background-color: #000;
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }

        & .search__result--container {
          @extend %flex-column-center;
          @include mixins.gradient-border();
          min-height: 20vh;
          width: 90%;
          overflow-y: scroll;
          padding: 5px;

          & .user__list--text {
            @extend %gradient-primary;
            color: transparent;
            background-clip: text;
            font-size: 0.8rem;
            font-family: variables.$font-beta;
            letter-spacing: 2px;

            & .user__mark {
              color: #fff;
              font-size: 1.1rem;
            }
          }
        }

        & .infos__banned {
          @extend %globale-size, %flex-row-start, %reset-marg-pad;
          z-index: 99;

          & .infos__banned--detail {
            list-style-type: none;
            color: #fff;
            width: 100%;
            font-size: 0.6rem;
            font-family: variables.$font-beta;
            border: 1px solid #444;
          }
        }

        & .blacklist__container {
          @extend %flex-column-center;
          height: auto;
          width: 100%;
          background-color: #000;
          border-radius: 10px;
          overflow-y: scroll;

          & .user__banned {
            @extend %gradient-secondary, %globale-size, %flex-row-around;
            color: transparent;
            background-clip: text;
            list-style-type: none;

            & .user__banned--el {
              font-family: variables.$font-beta;
              font-size: 0.8rem;
              line-height: 35px;
              text-align: center;
              word-spacing: 5px;
            }

            & .unban__btn > a {
              @extend %gradient-primary;
              margin: 10px;
              text-decoration: none;
              color: #000;
              border-radius: 5px;
              font-size: 0.6rem;
              padding: 5px;
              font-family: variables.$font-beta;

              &:hover {
                box-shadow: 0px 0px 5px 3px cornflowerblue;
              }
            }
          }
          & .user__banne--text {
            @extend %gradient-primary;
            color: transparent;
            background-clip: text;
            font-size: 1rem;
            font-family: variables.$font-beta;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
